// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
.lego-editor-header {
    height: 3em;
    text-align: center;
    padding: 5px;
}
.lego-editor-right {
    width: 300px;
    height: 100%;
    overflow: auto;
}
.lego-editor-right > div{
    padding: 5px;
}
.lego-newpanel{
    background-color: #fff;
}
.lego-editor-right atom-panel{
  padding: 10px 0;
}
.lego-editor-right .half{
  width: 50%;
  float: left;
}
.lego-editor-right .block label:first-child{
  width: 70px;
  text-align: right;
  padding-right: 5px;
}
.lego-editor-right .block label + *{
  display: inline-block;
  margin-left: 5px;
}
.lego-editor-right .titlebar{
    text-align: center;
}
